<div id="header"></div>

<div class="container">

	<div id="dropdown-buttons-menu"></div>
	
	<div id="content"></div>

</div>


<%= render 'layouts/footer' %>	

<%= render 'templates/home_page_template' %>
<%= render 'templates/dropdown_buttons_menu_template' %>
<%= render 'templates/blog_template' %>
<%= render 'templates/members_template' %>
<%= render 'templates/gallery_template' %>
<%= render 'templates/login_section_template' %>
<%= render 'templates/creating_posts_section_template' %>
<%= render 'templates/adding_image_section_template' %>
<%= render 'templates/register_section_template' %>
<%= render 'templates/header_template' %>